version: 2

dockerbuild: &dockerbuild
  steps:
    - checkout
    - run:
        name: "Pull submodules"
        command: |
          git submodule init
          git submodule update --remote
    - run:
        name: Install dependencies
        command: npm install
        when: on_success
    - run:
        name: Test
        command: npm run test
        when: on_success

jobs:
  "node-10":
    <<: *dockerbuild
    docker:
      - image: circleci/node:10.16.2
  "node-12":
    <<: *dockerbuild
    docker:
      - image: circleci/node:12.8.0
  "node-14":
    <<: *dockerbuild
    docker:
      - image: circleci/node:14.15.4
  "node-16":
    <<: *dockerbuild
    docker:
      - image: circleci/node:16.5.0
  "node-18":
    <<: *dockerbuild
    docker:
      - image: circleci/node:18.12.1

workflows:
  version: 2
  build:
    jobs:
      - "node-10"
      - "node-12"
      - "node-14"
      - "node-16"
      - "node-18"

