version: 2

jobs:
  "node-8":
    docker:
      - image: circleci/node:8.16.0
    steps:
      - checkout
      - run:
        name: "Pull Submodules"
        command: |
          git submodule init
          git submodule update --remote
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Test
          command: npm run test
          when: on_success
  "node-10":
    docker:
      - image: circleci/node:10.16.2
    steps:
      - checkout
      - run:
        name: "Pull Submodules"
        command: |
          git submodule init
          git submodule update --remote
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Test
          command: npm run test
          when: on_success
  "node-11":
    docker:
      - image: circleci/node:11.15.0
    steps:
      - checkout
      - run:
        name: "Pull Submodules"
        command: |
          git submodule init
          git submodule update --remote
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Test
          command: npm run test
          when: on_success
  "node-12":
    docker:
      - image: circleci/node:12.8.0
    steps:
      - checkout
      - run:
        name: "Pull Submodules"
        command: |
          git submodule init
          git submodule update --remote
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Test
          command: npm run test
          when: on_success

workflows:
  version: 2
  build:
    jobs:
      - "node-8"
      #- "node-10"
      #- "node-11"
      #- "node-12"
